<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/analysis_style.css">
	<script src="/assets/js/index.js"></script>
    <title>Middle|Ground</title>
    <meta name="google-site-verification" content="PKjuHTxmwZHpB5G5_OxUMWas0r9238l_7B4jOdBbRYU" />
    
</head>
<body>

  {{!-- Facebook SDK stuff --}}
  {{!-- our FB app id: 951106048648578 --}}
{{!-- <script>
 // window.fbAsyncInit = function() {
    FB.init({
      appId            : '951106048648578',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v7.0'
    });
  };
</script> --}}

{{!-- Facebook SDK for FB login --}}
{{!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> --}}
    
 	{{{ body }}}   


</body>
<footer>
Image by Moshe Harosh from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3113668" class="subtleLink">Pixabay</a>
</footer>
</html>