<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="/assets/js/index.js"></script>
    <title>MiddleGround</title>
    <meta name="google-site-verification" content="PKjuHTxmwZHpB5G5_OxUMWas0r9238l_7B4jOdBbRYU" />
    
</head>
<body>
  {{!-- our FB app id: 951106048648578 --}}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '951106048648578',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v7.0'
    });
  };
</script>

{{!-- Facebook SDK for FB login --}}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    
 	{{{ body }}}   


</body>

</html>