<div class='analysis'>
   <a href='/'> <img src='assets/images/logo.png' class='logo'></a><br>


<div class='blueFeed'>
  {{#each cards}}
    
    <div class='card'>
        <img src='{{ dataValues.image }}' class='cardImage'>
        {{ dataValues.text }}
        {{ dataValues.keyword }} 
        {{ dataValues.bias }}
        
    </div>

  {{/each}}

</div>

<div class='redFeed'>



</div>