<div class='analysis'>

  <div class="jumbo">
    <a href='/'> <img src='assets/images/logo.png' class='logo'></a><br>
  </div>
  <div>
    <h1 class="topicHead">Topic:
      <span class="topic">{{ keyword }}</span></h1>
  </div>

  {{!-- fact check here --}}
  <div class="list-container factCheck">
    <p class="factCheckHead">Google Fact Check Results</p>
    <ul class="factCheckList">
      <li> <span class="factCheckLabel">Claim:</span>
        <span class="factCheckItem">Masks Not Needed</span></li>

      <li> <span class="factCheckLabel">Publisher:</span>
        <span class="factCheckItem">Trump</span></li>

      <li> <span class="factCheckLabel">Title:</span>
        <span class="factCheckItem">Tweet #10,976</span></li>

      <li> <span class="factCheckLabel">Fact Check Rating:</span>
        <span class="factCheckItem">Mostly False</span></li>
    </ul>
  </div>

  <div class='blueFeed group'>
    {{#each blues}}
      {{> cards/card-block}}
    {{/each}}
  </div>

  <div class='redFeed group'>
    {{#each reds}}
      {{> cards/card-block}}
    {{/each}}


  </div>
</div>