<div class='analysis'>
   <a href='/'> <img src='assets/images/logo.png' class='logo'></a><br>


<div class='blueFeed'>
    blues:
  {{#each cards}}
      {{ dataValues.text }}
      {{ dataValues.keyword }} 
      {{ dataValues.bias }}
      item:
  {{/each}}
</div>

<div class='redFeed'>



</div>