<div class='analysis'>
   
<div class='jumbo'>
    <a id="aboutLink" href="about.html">About the Project</a>
  <img src="assets/images/logo.png" class="logo">
<p class='tagline'>Insights on the news you receive and issues you care about.</p>
</div>

   <h1>{{ error }}</h1>
   <p>
   <a href="/">Try another topic</a></p>
   
</div>
