<div class='jumbo'>
<h1>Middle Ground</h1>
<h2>Looking into Social Media to find some middle ground.</h2>
</div>


<form class="create-form">
<h2>Enter Your Twitter Handle</h2>
  <div class="form-group">
    <input type="text" id="feed_name" name="feed_name"><br>
    <button type="submit">Analyze</button>
  </div>

  <div class="form-group">
    <input type="text" id="keyword" name="keyword"><br>
    <button type="submit">Ananylze</button>
  </div>

  
</form>
</div>