<div class='jumbo'>
  <img src="assets/images/logo.png" class="logo">
<p class='tagline'>Looking into Social Media to find some middle ground.</p>
</div>

{{!-- <div class='div1'>
<form class="account-form">
<h2>Enter Your Twitter Handle</h2>
  <div class="form-group">
    <input type="text" id="feed_name" name="feed_name" class="basicInput"><br>
    <button type="submit" id='submitAccountName' class='submitBtn accountNameSubmit'>Analyze</button>
  </div>
  </form>
</div> --}}
<div class='div2'>
  <form class="topic-form">
<h2>Enter a topic to search on</h2>
  <div class="form-group">
    <input type="text" id="keyword" name="keyword" class="basicInput"><br>
    <button type="submit" id="submitKeyword" class='submitBtn keywordSubmit'>Analyze</button>
  </div>
  <div id="#error" class="errorMsg">
      <p>Couldn't find any posts on that topic in our feed...</p>
  </div>
</form>

</div>
</div>
{{!-- <fb:login-button id="fb_login"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button> --}}

