.card {
    background-color:white;
    box-shadow:0 0 20px gray;
    padding:0px;
    width:300px;
    float:left;
    margin:20px;
    display:inline-block;
}

.cardImage {
    width:100%;

}

.cardText {
    padding:10px;
    font-size:.8em;
}

.blueFeed {
    background-color:blue;
    border:4px solid blue;
    box-sizing: border-box;
    width:50%;
    float:left;
    display:inline-block;
    margin:0;
}

.factCheck {
    display: block;
    background-color: darkgray;
    padding-top: .5px;
    color: rgba(255, 255, 255, .8);
    align-items: center;
    padding-bottom: 5px;
}

.factCheckHead {
    font-size: 1.35em;
    font-weight: bold;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, .5);
}

.factCheckList {
    margin: auto;
    list-style-type: none;
    padding-bottom: 30px;
    text-align: center;
}

.factCheckLabel {
    font-weight: bold;
    background-color: transparent;
    display: inline;
    float: left;
    padding-left: 15px;
    padding-right: 3px;
    text-align: center;
}

.factCheckItem {
    display: inline;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255, .75);
    color: rgb(144, 141, 141);
}

.redFeed {
    background-color:red;
    border:4px solid red;
    box-sizing: border-box;
    width:50%;
    float:left;
    display:inline-block;
    margin:0;
}

.errorMsg {
    background-color:red;
    color:white;
    font-size:.9em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding:8px;
    display:none;
}

.topic {
    display: inline;
    font-weight: bold;
    font-size: 1em;
    color: white;
    background-color: rgba(255, 255, 255, .25);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.topicHead {
    color: rgba(255, 255, 255, .5);
}

ul {
    text-align: center;
}

/*  ClearFix  */
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
content: "";
display: table; }

.group:after {
clear: both; }

.group {
zoom: 1;
}