    <div class='card'>
      <img src='{{ dataValues.image }}' class='cardImage'>
      <p class='cardText'>{{ dataValues.text }}</p>
      
      <div class='source'><img src="{{ dataValues.user_image }}" class='userImage'>
      <p>{{ dataValues.user_screen_name }}</p></div>
    </div>