    <div class='card'>
        <div class='cardImageDiv'>
          <img src='{{ dataValues.image }}' class='cardImage'>
        </div>
        <div class='cardTextDiv'>
      <p class='cardText'>{{ dataValues.text }}</p>
      </div>
      <div class='source'><img src="{{ dataValues.user_image }}" class='userImage'>
      <p>{{ dataValues.user_screen_name }}</p></div>
    </div>